<!DOCTYPE html>
<head>
    <title>Shopping Cart</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/cart-styles.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="javascript/cart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <!-- Navbar -->
    {{> navbar}}

    <!-- Body -->
    <div class="container-fluid main">
        <div class="row mt-5">
            <div class="col-1"></div>
            <div class="col-6">
                <p class="p-2 m-0 heading">CART</p>

                {{#if products}}
                {{#each products.products}}
                <div class="item d-flex align-items-center" id={{_id}} name="{{name}}">
                    <div class="p-2">
                        <img src="{{pictures}}" class="item-pic">
                    </div>
                    <div class="p-2 col-4">
                        {{name}}
                    </div>
                    <div class="p-1">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="minus" data-field="{{_id}}" >
                                <svg width="14" height="14" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.0832 8.125H2.9165V6.875H11.0832V8.125Z" fill="black" fill-opacity="0.54"/>
                                </svg>
                            </button>
                        </span>
                    </div>
                    <div class="p-2">
                        <input type="text" name="{{_id}}" class="form-control input-number" value={{quantity}} max={{max}} style="width: 40px;" disabled>
                    </div>
                    <div class="p-1 col">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="{{_id}}" value={{_id}} max={{max}}>
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.0832 7.58317H7.58317V11.0832H6.4165V7.58317H2.9165V6.4165H6.4165V2.9165H7.58317V6.4165H11.0832V7.58317Z" fill="black" fill-opacity="0.54"/>
                                </svg>
                            </button>
                        </span>
                    </div>
                    <div class="p-4 col">Php {{price}}</div>
                    <div class="p-2 col">
                        <button class="btn btn-link cancel" value={{_id}}>
                            <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.906429L8.09357 0L4.5 3.59357L0.906429 0L0 0.906429L3.59357 4.5L0 8.09357L0.906429 9L4.5 5.40643L8.09357 9L9 8.09357L5.40643 4.5L9 0.906429Z" fill="black" fill-opacity="0.54"/>
                            </svg>
                        </button>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <p>No products yet</p>
                {{/if}}
                
            </div>   

            <!-- Order Summary -->
            <div class="col-4">
                <div class="summary">
                    <div class="row">
                        <h1 class="summarytitle">ORDER DETAILS</h1>
                    </div>
                    <div class="summarycontent">
                        <div class="row">
                            <div class="col-3">
                                <h1 class="summarytext">Items</h1>
                            </div>
                            <div class="col-9">
                                <h1 class="summarytext" id="numItems">{{products.numItems}}</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <h1 class="summarytext">Total</h1>
                            </div>
                            <div class="col-9">
                                <h1 class="summarytext">Php {{products.total}}</span></h1>
                            </div>
                        </div>
                    
                        <form method="POST" action="/postDetails">
                            <input type="hidden" name="numItems" value={{products.numItems}}> 
                            <input type="hidden" name="total" value={{products.total}}> 
                            <div class="row">
                                <div class="col-12"><h1 class="summarytext">Mode of Payment</h1></div>
                            </div>
                            <div class="row">
                                <select class="form-control summaryselect" name="payment">
                                    <option value="COD">Cash on Delivery</option>
                                    <option value="Bank">Bank Transfer</option>
                                    <option value="GCash">GCash Transfer</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-12"><h1 class="summarytext">Mode of Delivery</h1></div>
                            </div>
                            <div class="row">
                                <select class="form-control summaryselect" name="delivery">
                                    <option value="Shipment">Shipment</option>
                                    <option value="Pickup">Pickup</option>
                                </select>
                            </div>
                            <div class="row d-flex justify-content-end">
                                <button type="submit" class="btn btn-dark checkoutbtn" id="myButton">checkout</button>
                            </div>
                        </form>
                </div>   
            </div>
        </div>
    </div>
    <!-- Footer -->
    {{> footer}}
</body>
</html>